.fng-home
    height 100%
    margin  0
    padding 0

.fng-home-bottom
    position relative

.fng-left-pane
    float left
    width 60%
    height 100%
    overflow-y scroll

.fng-right-pane
    margin-left 60%
    height 100%

.fng-listing-results
    height 100%

.fng-home-logo
    float left
    padding-top 10px