.fng-listing-tile-headline
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    width 100%
    font-size 16px
    color rgb(86, 90, 92)

.fng-listing-tile-image
    width 100%
    background #fdfdfd

.fng-listing-tile-headline-description
    color rgb(130, 136, 138)
    font-size 14px

.fng-listing-tile.map .fng-listing-tile-headline-description
    font-size 12px

.fng-listing-tile.map .fng-listing-tile-headline
    font-size 14px

.fng-listing-tile-text
    padding-top 10px
    padding-left 10px
    padding-right 10px

.fng-listing-results-star
    color rgb(255, 180, 0)

.fng-listing-tile-left
    position absolute
    width 95px
    color #ffffff
    font-size 30px
    cursor pointer
    height 100%

.fng-listing-tile-right
    position absolute
    width 95px
    right 0px
    color #ffffff
    font-size 30px
    cursor pointer
    height 100%

.fng-listing-tile.map .fng-listing-tile-left, .fng-listing-tile.map .fng-listing-tile-right
    font-size 20px

.fng-listing-tile-image-container
    position relative

.fng-listing-tile-left-icon
    position absolute
    left 10px
    top 50%
    margin-top -16px
    display none

.fng-listing-tile-right-icon
    position absolute
    right 10px
    top 50%
    margin-top -16px
    display none

.fng-listing-tile-image-container:hover
    .fng-listing-tile-left-icon
        display block

.fng-listing-tile-image-container:hover
    .fng-listing-tile-right-icon
        display block