.fng-location-search-input
    width 400px
    height auto
    font-size 20px
    width 357px
    padding 19.5px 0 19.5px 48px
    border none
    outline none
    color #82888a

.fng-location-search-icon
    position absolute
    left 95px
    top 20px
    font-size 20px
    color #82888a


.fng-location-search
    margin-left 75px